.imgwrapper {
  height: 300px;
  width: 290px;
  border: 1px solid #10263728;
  border-radius: 20px;
  margin-bottom: 14px;
  position: relative;
}

.itemimage {
  width: inherit;
  height: inherit;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}
.item-container {
  display: flex;
  flex-direction: column;
  margin: 12px;
}
.pricing-section {
  display: flex;
  padding: 8px 0px;
  align-items: center;
}
.acutal-price {
  text-decoration: line-through;
  opacity: 0.4;
  margin: 0px 18px;
}
.addIcon {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
