.product-list-wrapper {
  display: flex;
}
.List-view-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-view-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
  max-width: 540px;
}
.listv-header {
  margin-bottom: 14px;
}
.listview-para {
  text-align: center;
}
