@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.new-categ-hero {
  display: flex;
}
.font {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.Header1 {
  font-size: 64px;
  font-weight: 600;
  /* semibold */
}
.para {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #23262f; /* regular */
}

.button-text {
  font-size: 20px;
  font-weight: 600;
  /* semibold */
}
.listext {
  font-size: 24px;
  font-weight: 600;
  /* semibold */
}
.pricing {
  font-size: 14px;
  font-weight: 300;
  /* light */
}
.Navigation {
  font-size: 16px;
  font-weight: 400;
  color: #23262f;
  /* regular */
}

.subHeader {
  font-size: 40px;
  font-weight: 600;
  /* semibold */
}
.footerHeader {
  font-size: 18px;
  font-weight: 500;
  /* Medium */
}
.point-headers {
  margin-bottom: 8px;
}

